/* src/components/AssignmentsCarousel.css */

.carousel {
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
}

.carousel__container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
}

.carousel__container::-webkit-scrollbar {
  display: none; /* For Chrome */
}

.carousel__item {
  min-width: 150px;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
}

.carousel__thumbnail {
  width: 100px;         /* Adjust the thumbnail size as needed */
  height: auto;
  border-radius: 10px;  /* Rounded corners */
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.carousel__thumbnail:hover {
  transform: scale(1.05);  /* Slight zoom on hover */
}

/* Scroll buttons */
.scroll-button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}